<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfoundation/css/foundation.min.css') }}" />
    </head>
    <body>
        <div class="row">
            <h1>ShopTop! <small>Buy clothes you'll never wear</small></h1>
            <hr>
        </div>
        <div class="row">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        <footer class="row">
            <div class="large-12 columns">
                <hr>
                <div class="row">
                    <div class="large-6 columns">
                        <p>©Copyright no one at all. Go to town.</p>
                    </div>
                    <div class="large-6 columns">
                        <ul class="inline-list right">
                            <li><a href="https://nateVegas.github.io">nateVegas.github.io</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>