<h1>ShopTop!</h1>
<form method="get" action="">
    <label for="search_input">Search Clothes</label><br />
    <input name="search" id="search_input">
    <input type="submit">
</form>
<h2>Results</h2>
<section>
    <ul>
        {% for result in results %}
            <li>{% include 'NateVegasShopBundle:Search:searchItem.html.twig' %}</li>
        {% endfor %}
    </ul>
</section>